!!!
%html
  %head
    %link{ rel: 'stylesheet',
           href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet',
           href: '/stylesheets/application.css' }
  %body
    = haml :navbar
    .container
      = yield
    %script{ src: 'https://code.jquery.com/jquery-2.1.4.min.js' }
    %script{ src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' }
